<!--The content below is only a placeholder and can be replaced.-->
<div class="left">
  <div class="list">
  메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  </div>
</div>
<div class="right">컨텐츠 로딩 중입니다.
  <div class="post">
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>메뉴<br/>
  </div>
</div>