.left {
    float:left;
    border-right:1px solid black;
    width:20%;
    height:100%;
    resize: horizontal;
    overflow: auto;
}
.left::-webkit-scrollbar { 
    display: none; 
}
.left .list {
    margin: 0px;
}
.right {
    float:none;
    width: auto;
    height:100%;
    overflow: auto;
}
.right::-webkit-scrollbar { 
    display: none; 
}
.right .post {
    margin: 0px;
}