.left {
    float:left;
    border-right:1px solid silver;
    width:20%;
    height:100%;
    resize: horizontal;
    overflow: auto;
}
.left::-webkit-scrollbar { 
    display: none; 
}
.left .list ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
}
.left .list li {
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left .list li:hover {
    cursor: pointer;
    background-color: rgb(222, 222, 222);
}
.left .list li.active {
    background-color: rgb(222, 222, 222);
}
.left .list li.new {
    background-color: maroon;
}
.left .list li.new {
    color: thistle;
}
.left .list li.new:hover {
    background-color: sienna;
    color: white;
}
.right {
    float:none;
    width: auto;
    height:100%;
    overflow: auto;
}
.right::-webkit-scrollbar { 
    display: none; 
}
.right .toolbox div.button {
    float: left;
    margin: 0.2em;
    padding: 0.3em;
    border-radius: 0.5em;
    color: gray;
    border:1px solid rgb(222, 222, 222);
}
.right .toolbox div.button:hover {
    cursor: pointer;
    background-color: rgb(222, 222, 222);
}
.right .content {
    width: 100%;
    height: 100%;
    clear: both;
}