.left {
    float:left;
    border-right:1px solid silver;
    width:20%;
    height:100%;
    resize: horizontal;
    overflow: auto;
}
.left::-webkit-scrollbar { 
    display: none; 
}
.left .list ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
}
.left .list li {
    padding: 0.5em;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left .list li:hover {
    cursor: pointer;
    background-color: rgb(222, 222, 222);
}
.left .list li.active {
    background-color: rgb(222, 222, 222);
}
.left .list li.new {
    background-color: maroon;
}
.left .list li.new {
    color: thistle;
}
.left .list li.new:hover {
    background-color: sienna;
    color: white;
}
.right {
    float:none;
    width: auto;
    height:100%;
    overflow: auto;
}
.right::-webkit-scrollbar { 
    display: none; 
}
.right .post {
    margin: 0.5em 0.5em 1em 0.5em;
}